body{
  background-color:#1a5185;
}
.pixel-font{
  font-family: "Pixelify Sans", sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 100px;
  color: #95ccff;
}
.container-map {
    background-image: url('../backgrounds/map.gif');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 459px;
    width: 800px;
    border-style: solid;
    border-color: black;
    border-width: 3px;
    padding: 10%;
  
   } 

.grid-container {
    display: grid;
    grid-template-columns:
    repeat(9, 1fr);
    gap: 40px;
  } 