body,
html {
    height: 100%;
    margin: 0;
    font-family: "Pixelify Sans", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 20px;
    overflow-y: hidden;
}

.background-gif{
    z-index: -1;
    align-self: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    object-fit: cover;
    background-color: black;
    width:100%;
}

.background{    
    align-content: center;   
}

.container{
    z-index: 1;
}

/* characters */
#seal {
    width: 300px;
    margin-left: 65%;
    margin-top: 9%;
    position: absolute;
}

#penguin {
    width: 200px;
    margin-left: 13%;
    margin-top: 15%;
    position: absolute;
}

.container-storyPage{
    background-image: url('../backgrounds/paper3.jpg');
    background-color: #f9f9f9; 
    width: auto; 
    height: auto; 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    padding: 10%;
    opacity: 85%;
    
    border: 4px solid black; 
    border-radius: 15px; 
    margin-top:5%;
}

.container-storyPage p, 
.container-storyPage a {
  opacity: 100%;
}

.container-links {
    display:flex;
    justify-content: space-between;
  }
  
/* Inventory Button */
.mapBag {
    margin-top: -340px;
    margin-left: -300px;

}
  
.img-link:hover img {
  transform: translateX(0px) translateY(-5px);
}

/* Inventory Items */
.item-button {
  background: none;
  border: none;
  text-decoration: none; 
  cursor: pointer;
}
.item-button:hover,
.item-button:visited {
  text-decoration: underline; 
}