body,
html {
    height: 100%;
    margin: 0;
    font-family: "Pixelify Sans", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 40px;
}
body {
    background-color: #fce7b0;
  }
  .background-gif{
    z-index: -1;
    align-self: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    object-fit: cover;
    background-color: #fce7b0;
    width: 100%;
  }
  
  .background{    
    align-content: center;   
    width: 100%;
    padding-bottom: 10%;
}
.container{
    z-index: 1;
}

.container-storyPage{
    background-image: url('../backgrounds/paper3.jpg');
    background-color: #f9f9f9; 
    width: auto; 
    height: auto; 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    padding: 10%;
    opacity: 85%;
    
    border: 4px solid black; 
    border-radius: 15px; 
}

.container-storyPage p, 
.container-storyPage a {
  opacity: 100%;
}

.container-links {
  display:flex;
  justify-content: space-between;
}

/* Inventory Button */
  .inventory-link {
    display: inline-block;
    position: relative;
  }

  .inventory-link:hover img {
    transform: translateX(5px);
  }

  .inventory-link:hover::after {
    content: "Check Inventory";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }