body,
html {
    height: 100%;
    margin: 0;
    font-family: "Pixelify Sans", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 20px;
    color: #f8dcea;
    overflow-y: hidden;
}

.background-gif {
    z-index: -1;
    align-self: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    object-fit: cover;
    background-color: #24121b;
    width: 100%;
}

.background {
    align-content: center;
    width: 100%;
    overflow-y: hidden;
}

.container {
    z-index: 1;
    overflow-y: hidden;
}