body {
   background-color: lightblue;
  }
  
  h1 {
    color: navy;
    margin-left: 20px;
  }
  
  .container {
   /* border-style: solid;
   border-color: black; */
   padding: 5%;
 }

 .container-storyPage {
  /* background-image: url('/backgrounds/Paper1.jpg'); */
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-size: 100% 100%;
  height: 200px;
  width: auto;
  border-style: solid;
  border-color: black;
  border-width: 3px;
  padding: 10%;
 }


 /* Custom styles for the map page */
.navbar {
  background-color: #f8f9fa; /* Light gray background */
}

.navbar-brand {
  font-weight: bold;
}

.map-section {
  max-width: 100%; /* Ensure the image doesn't exceed its container */
  height: auto; /* Maintain aspect ratio */
}

 /* .button {
   transition-duration: 0.4s;
 } */
 
 /* .button:hover {
   background-color: #04AA6D;
   color: white;
 } */

.pixel-font {
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}