body,
html {
    height: 100%;
    margin: 0;
    font-family: "Pixelify Sans", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 40px;
    background-color: #95ccff;
    overflow-y: hidden;
}
  
.content {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: 0%;
}

.container {
  text-align: center;
}

.container h1 {
  font-size: 100px;
  color:#1a5185;
}

.container-storyPage {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 200px;
  width: auto;
  border-style: solid;
  border-color: black;
  border-width: 3px;
  padding: 10%;
}

.background{    
  align-content: center;   
  width: 100%;
}

.background-end{
  z-index: -1;
  align-self: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  object-fit: cover;
  background-color: #fce7b0;
  width: 100%;
}

.pixel{
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 40px;
}

/* start button */

.eightbit-btn {
  background: #97e365;
  display: inline-block;
  position: relative;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  color: white;
  box-shadow: inset -4px -4px 0px 0px #4aa52e;
  font-family: "Pixelify Sans", sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 40px;
}

.eightbit-btn:hover,
.eightbit-btn:focus {
  background: #8cd15d;
  box-shadow: inset -6px -6px 0px 0px #377923;
  text-decoration: none;
  color: darkgreen;
}

.eightbit-btn:active {
  box-shadow: inset 4px 4px 0px 0px #4aa52e;
}

.eightbit-btn:before,
.eightbit-btn:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: content-box;
}

.eightbit-btn:before {
  top: -6px;
  left: 0;
  border-top: 6px black solid;
  border-bottom: 6px black solid;
}

.eightbit-btn:after {
  left: -6px;
  top: 0;
  border-left: 6px black solid;
  border-right: 6px black solid;
}


/* Inventory Button */

.inventory-link {
  display: inline-block;
  position: relative;
}

.inventory-link:hover img {
  transform: translateX(-5px) translateY(-5px);
}
